@model RetailShop.Areas.Wholesalers.Models.RegisterWholesalerViewModel
@{
    ViewBag.Title = "Register as a Wholesaler";
}

<h2>@ViewBag.Title.</h2>

<div class="col-md-12">
    <div class="modal fade" id="myModal" role="dialog" data-backdrop="false">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">Close</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
                </div>
            </div>

        </div>
    </div>
</div>
@* User Creation Form *@
<div class="col-md-6 col-sm-12" id="user-registration-forms">
    @*@Html.ValidationSummary("", new { @class = "text-danger" })*@

    <form action="~/Wholesalers/Wholesaler/Register" id="wholesaler-form" method="POST" class="well">
        <div id="name-group" class="form-group">

            <label for="name">Email</label>
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })

            @*Password*@
            <label for="date">Password</label>
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })

            @*ConfirmPassword*@
            <label for="date">ConfirmPassword</label>
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })

            <label for="name">Rating</label>
            @Html.TextBoxFor(m => m.Rating, new { @class = "form-control" })

            <label for="name">WholesalerAddress</label>
            @Html.TextBoxFor(m => m.WholesalerAddress, new { @class = "form-control" })

            <label for="name">WholesalerName</label>
            @Html.TextBoxFor(m => m.WholesalerName, new { @class = "form-control" })

            <label for="name">Category</label>
            @Html.TextBoxFor(m => m.Category, new { @class = "form-control" })

            <label for="name">BRCNumber</label>
            @Html.TextBoxFor(m => m.BRCNumber, new { @class = "form-control" })

            <label for="name">BusinessPhoneNumber</label>
            @Html.TextBoxFor(m => m.BusinessPhoneNumber, new { @class = "form-control" })


            <label for="name">WholesalerAddress</label>
            @Html.TextBoxFor(m => m.WholesalerAddress, new { @class = "form-control" })

            <label for="name">Currency</label>
            @Html.TextBoxFor(m => m.Currency, new { @class = "form-control" })


            <label for="name">Country</label>
            @Html.TextBoxFor(m => m.Country, new { @class = "form-control" })


            <label for="name">Region</label>
            @Html.TextBoxFor(m => m.Region, new { @class = "form-control" })


        </div>
        <input type="submit" class="btn btn-primary btn-raised" value="Register Wholesaler" />
    </form>
</div>

