@using WholesaleTradingPortal.Areas.Accounts.Models
@model UserCredentialsModel
@{
    ViewBag.Title = "Change Password";
}
<title>@ViewBag.title</title>
<h5>@ViewBag.title</h5>

<div class="panel sub-content-panel container">
    @using (Html.BeginForm("ChangePassword", "../api/Accounts", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" , data_pjax=".content-panel", id="change-password-form"}))
    {
        @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control custom-text-box", required = "true" })
        </div>
    </div>
        
      <input name="Id" value="@ViewBag.Id" hidden/>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control custom-text-box", required = "true" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Change Password" class="btn btn-irreversible" />
            </div>
        </div>
        @* Enable this once you have account confirmation enabled for password reset functionality
            <p>
                @Html.ActionLink("Forgot your password?", "ForgotPassword")
            </p>*@
    }
</div>

@section script{
<script>

    $(".navigation-help").html("Accounts / Change Password");

</script>
}