@using WholesaleTradingPortal.Areas.Accounts.Models
@model LoginViewModel
@{
    ViewBag.Title = "Service Login";
}
<title>@ViewBag.title</title> 
<div class=" container">
    <div class="panel sub-content-panel col-md-12">
        @using (Html.BeginForm("LogIn", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control custom-text-box", type = "email", required = "true" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control custom-text-box", required = "true" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Log in" class="btn btn-update" />
                </div>
            </div>
        }
    </div>
</div>
@section script{
    <script>
        window.history.pushState("", "@ViewBag.title", "/Accounts/Account/Login");
        sessionStorage.removeItem("Authenticated");
    </script>
    }